{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <article class="content">

        <div class="content__title-container">
            <h1 class="content__title">Me <span class="content--color break">contacter</span> </h1>
        </div>
        <div class="container">
            {{ form_start(form) }}
                <div class="form__element">
                    <label class="form__label" for="name"><i class="fas fa-user-alt form__element-icon"></i> Nom
                        Prénom :</label>
                    {{ form_row(form.name, { 'attr': { 'class': 'form__element-input' } }) }}
                </div>
                <div class="form__element">
                    <label class="form__label" for="email"><i class="fas fa-envelope form__element-icon"></i> Email
                        :</label>
                    {{ form_row(form.email, { 'attr': { 'class': 'form__element-input' } }) }}
                </div>
                <div class="form__element">
                    <label class="form__label" for="phone"><i class="fas fa-phone-alt form__element-icon"></i>
                        Téléphone :</label>
                    {{ form_row(form.phone, { 'attr': { 'class': 'form__element-input' } }) }}
                </div>
                <div class="form__element">
                    <label class="form__label" for="object"><i class="fas fa-th-list form__element-icon"></i> Objet
                        :</label>
                    {{ form_row(form.objet, { 'attr': { 'class': 'form__element-input' } }) }}
                </div>
                <div class="form__element">
                    <label class="form__label" for="message"><i class="fas fa-pen form__element-icon"></i>
                        Message</label>
                    {{ form_row(form.message, { 'attr': { 'class': 'form__message', 'cols' : '58', 'rows' : '10', 'wrap' : "hard" } }) }}
                </div>

                <div class="submit__container">
                    <div class="form__element form__element-submit">
                        <input class="form__submit" type="submit" value="Envoyer">
                    </div>
                </div>
            {{ form_end(form) }}


        <!--
            <form action="/email" method="post">
                <div class="form__element">
                    <label class="form__label" for="name"><i class="fas fa-user-alt form__element-icon"></i> Nom
                        Prénom :</label>
                    <input class="form__element-input" type="text" id="name" name="name" required>
                </div>
                <div class="form__element">
                    <label class="form__label" for="email"><i class="fas fa-envelope form__element-icon"></i> Email
                        :</label>
                    <input class="form__element-input" type="email" id="email" name="email" required>
                </div>
                <div class="form__element">
                    <label class="form__label" for="phone"><i class="fas fa-phone-alt form__element-icon"></i>
                        Téléphone :</label>
                    <input class="form__element-input" type="tel" id="phone" name="phone" required>
                </div>
                <div class="form__element">
                    <label class="form__label" for="object"><i class="fas fa-th-list form__element-icon"></i> Objet
                        :</label>
                    <select class="form__element-input" name="object" id="object" required>
                        <option value="">Veuillez sélectionner un objet</option>
                        <option value="Prise de rendez-vous">Prise de rendez-vous</option>
                        <option value="Annuler un rendez-vous">Annuler un rendez-vous</option>
                        <option value="Demande de renseignement">Demande de renseignement</option>
                    </select>
                </div>
                <div class="form__element">
                    <label class="form__label" for="message"><i class="fas fa-pen form__element-icon"></i>
                        Message</label>
                    <textarea class="form__message" name="message" id="message" cols="30" rows="10" wrap="hard"
                        placeholder="votre message"></textarea>
                </div>

                <div class="submit__container">
                    <div class="form__element form__element-submit">
                        <input class="form__submit" type="submit" value="Envoyer">
                    </div>
                </div>

            </form>
        -->    
        </div>

    </article>

{% endblock %}
