{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block blog %}active{% endblock %}

{% block body %}

    <div class="content__title-container">
        <h1 class="content__title blog-title">Le <span class="content--color break">blog</span> </h1>
    </div>

    <section class="category__section">
        <div class="category__container">
            <div class="category__all">
                {% for category in allCategory %}
                    {% if loop.index== 1 %}
                        <div class="category__side left-side">
                        {% elseif loop.index == 2 %}
                        <div class="category__side center-side">  
                        {% elseif loop.index == 3 %}
                        <div class="category__side rigth-side">
                    {% endif %}
                        <div class="category__media">
                            <a href="category.html">
                                {% if loop.index== 1 %}
                                    <img src="img/alimentation.jpg" alt="alimentation" class="category__img">
                                    {% elseif loop.index == 2 %}
                                    <img src="img/sommeil.jpg" alt="alimentation" class="category__img">
                                    {% elseif loop.index == 3 %}
                                    <img src="img/bienetre.jpg" alt="alimentation" class="category__img">
                                {% endif %}        
                                <span class="category__name">{{category.catName}}</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <article class="content">

        <section>
            {% for post in lastPosts %}
                <div class="preview__container">

                    <div class="preview__img">
                        <a href="{{ path('post', {slug: post.slug}) }}"><img class="img__content" src="{{ post.postImg }}" alt="plat sain"></a>
                    </div>

                    <span class="category__indicator"><a class="category__link" href="category.html">{{post.postCategory.catName}}</a></span>

                    <h4 class="article__title"><a href="{{ path('post', {slug: post.slug}) }}">{{post.postTitle}}</a></h4>

                    <p>{{post.postContent |u.truncate(200)}}...</p>

                </div>
            {% endfor %}
        </section>

        <div class="navigation">
            {{ knp_pagination_render(lastPosts) }}
        </div>

    </article>

{% endblock %}
