{% extends 'base.html.twig' %}

{% block title %}{{post.postTitle}}{% endblock %}

{% block blog %}active{% endblock %}

{% block body %}

    <div class="post__category-img-container">
        <img class="post__category-img" src="{{ post.postCategory.catImg }}" alt="image de category">
    </div>

    <article class="content">

        <div class="content__title-container post__head">
            <span class="category"><a href="{{ path('blog') }}">Blog</a> \ <a href="category.html">{{post.postCategory.catName}} \</a></span>
            <h1 class="content__title post__title">{{post.postTitle}}</h1>
        </div>

        <section>
            <div class="preview__container">
                <div class="preview__img">
                    <img class="img__content post__img" src="\upload\img\{{post.postImg}}" alt="photo de l'article">
                </div>
                <p>{{post.postContent}}</p>
        </div>

        <span><a href="">Retour</a></span>

    </article>

{% endblock %}
